<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>BOBAXIXIXI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body style="background-color:#2B71FF;">
<nav th:replace="fragments/fragment :: navbar('Store')"></nav>

<div class="container-sm rounded" style="margin-top: 40px; background-color:white; padding-top:30px;padding-bottom:75px" >
    <h2 th:text=" 'Add Boba to ' + ${namaToko}"></h2>

    <form th:action="@{/store/{idToko}/assign-boba(idToko=${idToko})}" th:object="${storebobatea}" method="POST">
    <table class="table table-hover" >
        <thead class="thead-dark">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>Size</th>
            <th>Ice</th>
            <th>Sugar</th>
            <th>Topping</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="bobatea, iterationStatus : ${listBobatea}">
            <td>
                <input class="form-check-input" type="checkbox" name="listIdBobatea"  th:value="${bobatea.idBobatea}" id="flexCheckDefault">
            </td>
            <td th:text="${bobatea.namaVarian}"></td>
            <td th:text="'Rp. ' + ${bobatea.hargaBobatea}"></td>
            <td th:if="${bobatea.ukuranBobatea} == 0">Small</td>
            <td th:if="${bobatea.ukuranBobatea} == 1">Medium</td>
            <td th:if="${bobatea.ukuranBobatea} == 2">Large</td>
            <td th:if="${bobatea.icelevelBobatea} == 0">Less</td>
            <td th:if="${bobatea.icelevelBobatea} == 1">Normal</td>
            <td th:if="${bobatea.icelevelBobatea} == 2">Extra</td>
            <td th:if="${bobatea.sugarlevelBobatea} == 0">Less</td>
            <td th:if="${bobatea.sugarlevelBobatea} == 1">Normal</td>
            <td th:if="${bobatea.sugarlevelBobatea} == 2">Extra</td>
            <td th:text="${bobatea.Topping.namaTopping}"></td>
        </tr>
        </tbody>
    </table>
        <button class="btn btn-primary" type="submit">Confirm</button>
        <a class="btn btn-primary" th:href="@{/store}">Cancel</a>
    </form>
</div>


</body>

</html>