<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>BOBAXIXIXI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body style="background-color:#2B71FF;">
<nav th:replace="fragments/fragment :: navbar('Filter')"></nav>
<div class="container rounded" style="margin-top: 40px; background-color:white; padding-top:30px;padding-bottom:75px">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2 class="font-weight-bold; text-center">Filter Manager</h2>
                <br>
                <form th:action="@{'/filter/manager?bobaName=' + ${namaVarian}}" method="GET">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            Boba Name : <br>
                            <select class="form-control" name="bobaName">
                                <option>Boba Name</option>
                                <option th:each ="bobatea: ${listBobateaname}"
                                        th:value = "${bobatea.namaVarian}"
                                        th:text = "${bobatea.namaVarian}">
                                </option>
                            </select>
                            <br><br>
                        </div>

                        <div class="form-group col-md-6">
                            <br>
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </div>

                    <table class="table table-hover" >
                        <thead class="thead-dark">
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Date of Birth</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="manager, iterationStatus : ${listHasilManager}">
                            <td th:text="${iterationStatus.count}"></td>
                            <td th:text="${manager.namaManager}"></td>
                            <td th:if="${manager.jenisKelamin} == 0">Perempuan</td>
                            <td th:if="${manager.jenisKelamin} == 1">Laki-laki</td>
                            <td th:text="${manager.tanggalLahirManager}"></td>
                        </tr>
                        </tbody>
                    </table>

                </form>


            </div>
        </div>
    </div>
</div>

</body>
</html>